@use "@/app/breakpoints.scss" as bp;

.datetime {
  --datetime-horizontal-padding: 1.5rem;
  --datetime-gap: 1.5rem;

  display: grid;
  grid-template-columns: 25% 1fr 25%;
  align-items: center;
  gap: var(--datetime-gap);
  padding: 0 var(--datetime-horizontal-padding);
  text-transform: uppercase;
  font-family: "Playfair Display";
  color: var(--dark-beige);
  text-align: center;
  font-weight: bold;

  .day,
  .time {
    border-top: 1px solid var(--dark-beige);
    border-bottom: 1px solid var(--dark-beige);
    padding: 0.3rem 0;
    height: fit-content;
  }

  .date-month {
    border-left: 1px solid var(--dark-beige);
    border-right: 1px solid var(--dark-beige);
    padding: 0 1rem;

    .date,
    .month {
      display: block;
    }

    .date {
      color: var(--brown);
      font-size: 5rem;
      line-height: 1.5rem;
      margin-bottom: 2.75rem;
    }

    .month {
      line-height: 1rem;
    }
  }

  @include bp.tablet {
    --datetime-horizontal-padding: 3rem;
    --datetime-gap: 4rem;
  }
}
