@use "@/app/breakpoints.scss" as bp;

.history {
  --paragraph-x-padding: 3rem;

  margin-top: 3rem;
  padding: 0 var(--paragraph-x-padding);

  @include bp.tablet {
    --paragraph-x-padding: 5rem;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: "Swagume";
    font-size: 1.5rem;
    white-space: nowrap;

    &.second-line {
      margin-top: -10px;
    }

    @include bp.xs {
      font-size: 1.35rem;
    }

    @include bp.tablet {
      font-size: 3rem;
      gap: 2rem;

      .flowers {
        width: 225px;
        height: auto;
      }

      .moss-green-star {
        width: 30px;
        height: auto;
      }
    }

    .italic-dark-beige {
      font-family: "Playfair Display";
      color: var(--dark-beige);
      font-style: italic;
      font-weight: 500;
    }
  }

  .history-text-container {
    --offset: calc(var(--paragraph-x-padding) * -1);

    position: relative;

    .history-text {
      white-space: pre-wrap;
      font-family: "Playfair Display";
      text-align: justify;
      font-size: 15px;

      @include bp.tablet {
        column-count: 2;
        column-gap: 2rem;
      }
    }

    .left {
      left: var(--offset);
    }

    .right {
      right: var(--offset);
    }

    .single-arrangement-flower {
      position: absolute;
      top: 0;
      z-index: -1;
      margin-top: 50%;
      transform: translateY(-100%);
    }

    .arrangement-flower-container {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: -1;
      padding: 3rem 0;
    }
  }

  .quote-container {
    --border: 1px solid var(--beige);

    margin: 0 calc(var(--paragraph-x-padding) * -1);
    margin-top: 3rem;
    margin-bottom: 0.7rem;
    border-top: var(--border);
    border-bottom: var(--border);

    @include bp.tablet {
      margin-bottom: 1.3rem;
    }

    .quote {
      width: 318px;
      height: 58px;
      padding: 7.5px 2.5rem;
      margin: auto;

      font-family: "Playfair Display";
      font-size: 0.8rem;
      font-style: italic;
      text-align: center;
      font-weight: 600;
      color: var(--dark-beige);

      transform: translateY(-50%);
      filter: drop-shadow(-4px 4px 7px rgba(0, 0, 0, 0.25));
    }
  }
}
